@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-desktop.svg');
    background-color: #674BB1;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    min-height: 120px;
}
header img {
    width: 200px;
}

main {
    display: flex;
    max-width: 1180px;
    margin: auto;
    height: calc(100vh);
    flex-direction: column;
    justify-content: stretch;
}
.cta {
    display: flex;
    max-width: 1180px;
    justify-self: center;
}
main .ilustration-mockups img {
    width: 650px;
}

main .cta-text {
    margin-left: 50px;
    color: #FFF;
}
main .cta-text h1 {
    text-transform: capitalize;
    font-size: 33px;
    line-height: 55px;
    font-family: 'Roboto', sans-serif;
}
main .cta-text p {
    font-family:  sans-serif;
    color: rgb(230, 218, 218);
    line-height: 24px;
}
main .cta-text .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #43337A;
    text-decoration: none;
    width: 170px;
    height: 47px;
    background-color: #FFFFFF;
    border-radius: 150px;
    border: solid 1px #6b3f86;
    transition: 0.2s;
    font-family: sans-serif;
}
main .cta-text .button:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.548);
    background-color: #E980E7;
    color: #FFF;

}

.social-medias {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    height: 100%;
}
.social-medias a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px #FFF;
    border-radius: 20px;
    margin-right: 10px;
}
.social-medias a,
.social-medias img {
    transition: 0.2s;
}
.social-medias a:hover {
    border: 1px solid #FF52C4;
}

.social-medias a:hover img {
    filter: invert(44%) sepia(66%) saturate(1281%) hue-rotate(293deg) brightness(102%) contrast(101%);
}
.social-medias .facebook-icon img {
    height: 20px;
}
.social-medias .twitter-icon img {
    width: 20px;
}
.social-medias .instagram-icon img {
    width: 20px;
}





/*responsiveness*/
@media (min-width: 769px) and (max-width: 1250px) {
    main {
        max-width: 850px;
    }
    main .ilustration-mockups img {
        width: 512px;
    }
    main .cta-text {
        max-width: 300px;
    }
    main .cta-text h1 {
        font-size: 25px;
        line-height: 35px;
    }
    main .cta-text p{
        font-size: 14px;
    }
}

 /*Tablet*/ 
@media (min-width: 426px) and (max-width: 768px) {
    header {
        min-width: 60%;
        margin: auto;
    }
    .cta {
        flex-direction: column;
        align-items: center;
    } 
    .cta .ilustration-mockups {
        width: 60%;
        min-width: 350px
    } 
    .cta .ilustration-mockups img {
        width: 100%;
    }
    .cta .cta-text {
        max-width: 60%;
        min-width: 300px;
        margin: 0;
    }
    .cta .cta-text h1 {
        text-align: center;
        font-size: 4.5vw;
        line-height: 6vw;
    }
    .cta .cta-text p {
        text-align: center;
    }
    .cta .cta-text .button {
        margin: auto;
    }
    .social-medias {
        align-self: center;
        margin-top: 60px;
        justify-content: flex-end;
    }
    .social-medias .instagram-icon {
        margin-right: 0;
    }
}

 /*Celular*/
 @media (max-width: 425px) {
    header {
        justify-content: center;
        min-height: 80px;
    }
    header img {
        width: 135px;
    }
    .cta {
        flex-direction: column;
        align-items: center;
      } 
      .cta .ilustration-mockups {
        width: 80%;
      } 
      .cta .ilustration-mockups img {
        width: 100%;
      }
      .cta .cta-text {
        max-width: 80%;
        margin: 0;
      }
      .cta .cta-text h1 {
        text-align: center;
        font-size: 20px;
        line-height: normal;
      }
      .cta .cta-text p {
        text-align: center;
        font-size: 12px;
      }
      .cta .cta-text .button {
        margin: auto;
        width: 140px;
        height: 38px;
        margin-top: 20px;
      }
      .social-medias {
        align-self: center;
        margin-top: 50px;
        justify-content: flex-end;
      }
      .social-medias a {
        width: 30px;
        height: 30px;
      }
      .social-medias .facebook-icon img {
        height: 15px;
      }
      .social-medias .twitter-icon img {
        width: 15px;
      }
      .social-medias .instagram-icon img {
        width: 15px;
      }
      .social-medias .instagram-icon {
        margin-right: 0;
      }
 }